@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Smokum&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --dark-background-color:#282e34;
    --light-background-color:#f4f4f4;
    --dark-color:#ddd;
    --white-color:#666;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.navbar{
    height: 70px;
    line-height: 1.6
    ;
    overflow: none
    ;

}

.static{
    position: static;
}

.section{
    max-width: 1200;
    padding: 0 20px;
   height: 70px;
}

.subnav{
    display: none;
}

.navbar ul{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    text-align: center;
    padding: 15px;
   
}

/*.navbar ul li{
    border: 1px solid #ddd;
    padding: 5px;
}*/

/*#ddd means dark grey**/
.navbar a{
    color: #ddd;
   
}
.above{
    background-color: var(--dark-background-color);
    
}
.section-dark{
    background-color: #282e34;
    color: #ddd;
}
.subnav{
    display: none;
    color: var(--white-color);
}
.navbar ul li a:hover{ border-bottom: 1px solid #ddd;
   
}
.navbar ul li:hover .subnav{
    display: block;
    position: absolute;
    background-color: transparent;
    
    margin-top: 1px;
    margin-left: -15px;
}

.navbar ul li:hover .subnav ul{
    display: block;
   
}
.navbar ul li:hover .subnav ul li{
    width:180px;
    padding: 3px;
    border-bottom: 2px solid #ddd;
    background-color: transparent;
    text-align: left;
    color: var(--white-color);

}

/*.navbar ul li:hover .subnav ul li:last-child{
    border-bottom: none;
}*/

.navbar ul li:hover.subnav ul li a{
    color: var(--dark-color);
}

.pimg1,.pimg2,.pimg3{
    background-position: center;
    background-size: cover;
background-attachment:fixed ;
}
.pimg1{
    background-image: url(/Vegetable.jpeg);
    height: 400px;
}
.pimg2{
    background-image: url(/laboratory.webp);
    height: 400px;
}

.pimg3{
    background-image: url(/power-plant.jpg);
    height: 400px;
}

.container{
    text-align: center;
    padding: 50px 80px;
}

.section-light{
    background-color: var(--light-background-color);
    color: #666;

}

.ptext{
    position: relative;
    top: 50%;
    width: 100%;
    text-align: center;
    font-family: 'Hurricane';
    letter-spacing: 8px;
    font-weight: 400px;
    font-size: 50px;

}

.border{
    background-color: #111;
    color: #fff;
    padding: 5px;
}

.trans{
    background-color: transparent;
    color:rebeccapurple;

}

@media (max-width:576px){
    .pimg1,.pimg2,.pimg3{
        background-attachment: scroll;
    }
}